VENV/*
archive/*
damon.data*
profile/damon.data*
perf.data*
perf.out*
damon.out*
ycsb/ycsb-mongodb-*
ycsb-0.17.0/*
ycsb-0.17.0.tar.gz
ycsb/VENV/*
profile/VENV/*
damo/*
__pycache__/*
profile/__pycache__/*
ycsb/mongodb-linux*
ycsb/database/*